@{
    ViewData["Title"] = "Contatos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua.... a definir<br />
    Cidade....<br />
    Bairro..<br />
    
    <abbr title="Phone">Telefone:</abbr>
    a definir...
</address>

<address>
    <strong>Suporte:</strong> <a href="#">Suporte a definir...</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing a definir...</a>
</address>
